@{
    ViewData["Title"] = "Details";
}

<h1>Animal Info:</h1>
<ul>
    <li>ID: @Model.AnimalId</li>
    <li>Name: @Model.Name</li>
    <li>Species: @Model.Species</li>
    <li>Age: @Model.Age</li>
    <li>Gender: @Model.Gender</li>
</ul>
<br>

@Html.ActionLink("Edit Animal", "Edit", null, null, new {@class="btn btn-success btn-sm"})</p>
<br>

@Html.ActionLink("Return", "Index", null, null, new {@class="btn btn-secondary btn-sm"})</p>

@* <a href="/Animals/Delete/@(Model.AnimalId)"><p>DELETE ANIMAL</p></a> *@
@Html.ActionLink("Delete Animal", "Delete", new { id = Model.AnimalId }, new {@class="btn btn-danger btn-sm"})</p>